# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

flask/venv
flask/.env
__pycache__
flask/mysqlclient-1.4.6-cp38-cp38-win32.whl
flask/requirement.txt
.idea/modules.xml
.idea/projet_webdev.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
flask/__pycache__
./flask/.env
.env
.vscode
build
flask/requirements copy.txt
