.defaultInput {
    width: 90%;
    margin: 10px !important;
}

.defaultSelect {
    width: 90%;
    margin: 20px !important;
}

.submitClient {
    font-weight: bold;
    font-family: calibri, sans-serif;
    border-radius: 15px;
    height: 50px;
    width: 120px;
}

.popup {
    margin: 20px;
    border-radius: 20px;
}

.clientAnimation {
    background-color: white;
    animation: fadeIn 1s ease both;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
