/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    #print {
      display: none;
    }
  }

.overflow-auto {
    max-height: 720px;
}

.border {
    border-color: black !important;
}

.color{
    color: orange !important;
}

.width-50 {
    width : 50% !important;
}

.text-pdf {
    font-size: 1em;
}

.margin-left {
    margin-left: 10vw;
}

.height-100 {
    height: 48vh;
}

ul {
    padding-left: 15px !important;
    font-size: 0.4em;
}

.no-border {
    border-left: none !important;
}

.center {
    text-align: center;
}

.border-top {
    border-top : black;
}

.no-border-top {
    border-top: none !important;
}

.no-border-bot {
    border-bottom: none !important;
}


#print h6 {
    font-size: 1.7em;
}

#msg {
    font-size: 0.7em;
    color: red;
}