
.overflow-auto {
    max-height: 960px;
}

.border {
    border-color: black !important;
}

.color{
    color: orange !important;
}

.width-50 {
    width : 50% !important;
}

.text-pdf {
    font-size: 0.8vw;
}

.margin-left {
    margin-left: 10vw;
}

.height-100 {
    height: 48vh;
}

ul {
    padding-left: 15px !important;
    font-size: 0.4vw;
}

.no-border {
    border-left: none !important;
}

.center {
    text-align: center;
}

.border-top {
    border-top : black;
}

.no-border-top {
    border-top: none !important;
}

.no-border-bot {
    border-bottom: none !important;
}
