
.overflow-auto {
    max-height: 700px;
}

.border {
    border-color: black !important;
}

.color{
    color: orange !important;
}

.width-50 {
    width : 50% !important;
}

.text-pdf {
    font-size: 0.8vw;
}

.margin-left {
    margin-left: 10vw;
}

.height-100 {
    height: 65vh;
}