@media print {
    .no-print {
        display : none;
    }

    .overflow-auto {
        max-height: unset !important;
        overflow: hidden !important;
    }

    .text-pdf {
        font-size: 15px;
    }
    
    .margin-left {
        margin-left: 320px;
    }

    ul {
        padding-left: 15px !important;
        font-size: 8px;
    }

    .text-pdf {
        font-size: 15px;
    }
}