tr:hover {
    background-color: #ECEFF1;
    cursor: pointer;
}

.quick_actions {
    border: none;
    background-color: #b4b6b8;
    color: black;
    border-radius: 100px;
    margin-right: 10px;
}

.quick_actions:hover {
    background-color:  #d8d9da;
}
