tr:hover {
    background-color: #ECEFF1;
    cursor: pointer;
}

.quick_actions {
    width: 95%;
    border: none;
    background-color: #dadbdd;
    color: black;
    border-radius: 100px;
}

.quick_actions:hover {
    background-color:  #082542;
    color: white;
}

.last_column {
    width: 23%;
}

.button_container {
    padding: 0;
}

.delete {
    width: 95%;
    border: none;
    background-color: #dadbdd;
    color: red;
    border-radius: 100px;
}

.delete:hover {
    background-color: red;
    color: white;
}
