tr:hover {
    background-color: #ECEFF1;
    cursor: pointer;
}

.quick_actions {
    width: 95%;
    border: none;
    background-color: #dadbdd;
    color: #082542;
    border-radius: 100px;
}

.quick_actions:hover {
    background-color:  #082542;
    color: white;
}

.last_column {
    width: 23%;
}

.button_container {
    padding: 0;
}

.delete {
    width: 95%;
    border: none;
    background-color: #dadbdd;
    color: red;
    border-radius: 100px;
}

.delete:hover {
    background-color: red;
    color: white;
}

.add_project {
    border: none;
    color: #082542;
    border-radius: 17px;
    height: 56px;
    width: 148px;
    margin: 0;
    padding-top: 12px;
}

.newDevis {
    background-color: #ffcc33;
}

.newArticle {
    background-color: #00b4fc;
}

.newFacture {
    background-color: red;
}

.newClient {
    background-color: #228b22;
}

.newEtiquette {
    background-color: orange;
}

.newRgie {
    background-color: #9932cc;
}

.add_project:hover {
    background-color:  #082542;
    color: white;
}


/**Page principale**/
.form-control {
    display: inline-block;
    border: 0;
}

.recherche {
    width: 100%;
    margin: 3px;
    border-radius: 50px;
    
}

.filtre {
    width: 250px;
    margin: 3px;
    margin-top: 1px;
    background: rgba(0,0,0,0);
    font-weight: bold;
}

.filte:focus, .filtre:active {
    background-color: #eee;
}

.jumbotron {
    height: 20%;
    padding: 1%;
}

.devis{
    background-color: #eae0c8;
}

.articles {
    background-color: #bcd4e6;
}

.facture {
    background-color: #f0a8a8;
}

.client {
    background-color: #d0f0c0;
}

.etiquette {
    background-color: #ffc87c;
}

.rgie {
    background-color: #d8bfd8;
}

.suivi {
    background-color: #db13e2;
    text-align: center;
}

.projectAnimation {
    background-color: white;
    animation: fadeIn 1s ease both;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
