
.overflow-auto {
    max-height: 720px;
}

.border {
    border-color: black !important;
}

.color{
    color: orange !important;
}

.width-50 {
    width : 50% !important;
}

.text-pdf {
    font-size: 0.8vw;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
}

.margin-left {
    margin-left: 10vw;
}

.margin-top {
    margin-top: 20px !important;
}

.height-100 {
    height: 48vh;
}

ul {
    padding-left: 15px !important;
    font-size: 0.4vw;
}

.no-border {
    border-left: none !important;
}

.center {
    text-align: center;
}

.border-top {
    border-top : black;
}

.no-border-top {
    border-top: none !important;
}

.no-border-bot {
    border-bottom: none !important;
}

hr {
    border-top: 0.8px solid black;
}

#materials {
    min-height: 500px;
}

.float-right {
    float: right;
}

.width-100 {
    width: 100% !important;
}

.width-600 {
    width: 600px;
}

.h7 {
    font-size: 1.2em;
}

#print {
    overflow-wrap: anywhere;
}

.margin-right-20 {
    margin-right: 20px;
}
