.roundTable {
    border-radius: 7px;
    width: 90%;
    margin: auto;
    margin-top: 5px;
}

.whiteTable {
    width: 90%;
    margin: auto;
    margin-top: 5px;
}

.rgiePage thead {
    pointer-events: none;
}

.rgiePage th {
    border-top: none !important;
}

.rgiePage tr {
    height: 50px !important;
}

.rgiePage td {
    white-space: normal !important;
}

.add_article {
    margin: 25px !important;
    border: none;
    background-color: #dadbdd;
    color: #082542;
    border-radius: 300px;
    font-size: 16pt;
    font-family: Verdana, sans-serif;
    text-align: center;
}

.add_article:hover {
    background-color:  #082542;
    color: white;
}

.rgiePage th:last-child,
.rgiePage td:last-child,
.roundTable th:nth-child(3),
.rgiePage th:nth-child(4) {
    text-align: right !important;
}

.newRowRgie {
    background-color: rgba(0, 0, 0, 0);
    border: none !important;
    box-shadow: none;
    margin: 0 !important;
    height: 100% !important;
    padding: 11px;
    font-size: 17pt;
    color: white;
}

.newArticleRgie {
    background-color: rgba(0, 0, 0, 0);
    border: none !important;
    box-shadow: none;
    margin: 0 !important;
    height: 100% !important;
    padding: 11px;
    font-size: 17pt;
}

.middleCell {
    padding: 0 !important;
}

.quantiteRgie {
    background-color: rgba(0, 0, 0, 0);
    border: none !important;
    box-shadow: none;
    margin: 0 !important;
    height: 80% !important;
    padding: 11px;
    font-size: 17pt;
    color: white;
    text-align: right;
}

.newPrixRgie {
    background-color: rgba(0, 0, 0, 0);
    border: none !important;
    box-shadow: none;
    margin: 0 !important;
    height: 80% !important;
    padding: 11px;
    font-size: 17pt;
}

.addCustom {
    margin-right: 25px !important;
    margin-top: 25px !important;
    margin-bottom: 25px !important;
    border: none;
    background-color: #dadbdd;
    color: #082542;
    border-radius: 300px;
    font-size: 16pt;
    font-family: Verdana, sans-serif;
    text-align: center;
    float: right;
}

.addCustom:hover {
    background-color:  #082542;
    color: white;
}

.deleteRowRgie {
    border-radius: 200px;
    border: none;
    background-color: red;
    color: white;
    padding: 2px;
    margin: 0 !important;
}

.deleteRowRgie:hover {
    background-color: white;
    color: red;
}

.deleteRowArticles {
    border-radius: 200px;
    border: none;
    background-color: #e9eef7;
    color: red;
    padding: 6px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-right: 4px;
}

.deleteRowArticles:hover {
    background-color: red;
    color: white;
}

.modifyRowRgie {
    border-radius: 200px;
    border: none;
    background-color: #e9eef7;
    color: green;
    padding: 6px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-right: 4px;
}

.modifyRowRgie:hover {
    background-color: green;
    color: white;
}

.addRowRgie {
    border-radius: 12px;
    color: #082542;
    background-color: #dadbdd;
    padding: 7px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-right: 4px;
}

.addRowRgie:hover {
    background-color: #082542;
    color: white;
}

.whiteTable td:last-child {
    padding: 4px;
}

.alignRight {
    text-align: right;
}

.roundTable td {
    font-size: 15pt;
}

.rechercheArticle {
    border-radius: 50px;
    border: 2px solid grey !important;
    text-align: center;
}

.saveRgieProject {
    margin: 25px !important;
    border: none;
    background-color: #e7e7e7;
    color: green;
    border-radius: 300px;
    font-size: 16pt;
    font-family: Verdana, sans-serif;
    text-align: center;
}

.saveRgieProject:hover {
    background-color:  green;
    color: white;
}

.clientSelect {
    width: 300px;
    float: left;
    margin: 25px;
    font-size: 16pt;
}

.clientSelect div {
    border-radius: 15px;
}

.rgieConstructionSite {
    border: 2px solid grey !important;
    border-radius: 15px;
    width: 300px;
    margin: 25px;
    text-align: center !important;
}
