.roundTable {
    border-radius: 7px;
    width: 90%;
    margin: auto;
    margin-top: 5px;
}

.whiteTable {
    width: 90%;
    margin: auto;
    margin-top: 5px;
}

thead {
    pointer-events: none;
}

th {
    border-top: none !important;
}

tr {
    height: 50px !important;
}

.add_article {
    margin: 25px !important;
    border: none;
    background-color: #dadbdd;
    color: #082542;
    border-radius: 300px;
    font-size: 16pt;
    font-family: Verdana, sans-serif;
    text-align: center;
}

.add_article:hover {
    background-color:  #082542;
    color: white;
}

th:last-child, td:last-child {
    text-align: right !important;
}

.roundTable th:first, .roundTable td:first {
    text-align: left !important;
    width: 10% !important;
    padding: 0 !important;
}

.newRowRgie {
    background-color: rgba(0, 0, 0, 0);
    border: none !important;
    box-shadow: none;
    margin: 0 !important;
    height: 100% !important;
    width: 500px !important;
    padding: 11px;
    font-size: 17pt;
    color: white;
}

.middleCell {
    padding: 0 !important;
}

.quantiteRgie {
    background-color: rgba(0, 0, 0, 0);
    border: none !important;
    box-shadow: none;
    margin: 0 !important;
    height: 80% !important;
    padding: 11px;
    font-size: 17pt;
    color: white;
    width: 80px;
    text-align: right;
}

.addCustom {
    margin-right: 25px !important;
    margin-top: 25px !important;
    margin-bottom: 25px !important;
    border: none;
    background-color: #dadbdd;
    color: #082542;
    border-radius: 300px;
    font-size: 16pt;
    font-family: Verdana, sans-serif;
    text-align: center;
    float: right;
}

.addCustom:hover {
    background-color:  #082542;
    color: white;
}

.deleteRowRgie {
    border-radius: 200px;
    border: none;
    background-color: red;
    color: white;
    padding: 2px;
    margin: 0 !important;
}

.deleteRowRgie:hover {
    background-color: white;
    color: red;
}

.addRowRgie {
    border-radius: 12px;
    color: #082542;
    background-color: #dadbdd;
    padding: 7px !important;
    margin: 0 !important;
}

.addRowRgie:hover {
    background-color: #082542;
    color: white;
}

.whiteTable td:last-child {
    padding: 4px;
}

.alignRight {
    text-align: right;
}

.roundTable td {
    font-size: 15pt;
}
