.home_btn {
    width: 338px;
    margin: 15px;
    height: 200px;
    background-color: white;
    color: black;
    line-height: 180px;
    border-radius: 25px;
}

.home_btn p {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    font-weight: bold;
}

.home_btn:hover {
    color: black;
    background-color: #f5f5f5;
}
